* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.w {
    width: 1200px;
    margin: auto;
}
body {
    background-color: #f3f5f7;
    overflow: hidden;
}
li {
    list-style: none;
}

